__pycache__/
/build/
/.build/
/.idea/
/.cache/sampling_c3_run.lock
/results/
/results_*/
/cmake-build-debug/
/bazel-*
*.ipynb_checkpoints
*.DS_Store*
attic/multibody/solver_log/
.clwb/
.ijwb
.vscode
*.csv
/examples/Cassie/saved_trajectories/
/MODULE.bazel.lock
